[submodule "node-package/poc-ts-react-componente-package"]
	path = node-package/poc-ts-react-componente-package
	url = git@github.com:bennotti/poc-ts-react-componente-package.git
	branch = main
#[submodule "node-package/poc-monorepo-subrepo2"]
#	path = node-package/poc-monorepo-subrepo2
#	url = git@github.com:bennotti/poc-monorepo-subrepo2.git
#	branch = main
